@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .avatar::before {
    @apply content-empty absolute block border-2 w-full h-full rounded-md border-green top-5 left-5 duration-200;
  }
  .avatar::after {
    @apply content-empty z-10 block absolute w-full h-full bg-green/40 rounded-md  duration-200;
  }
  .avatar {
    @apply hover:after:opacity-0 hover:before:top-4 hover:before:left-4;
  }

  .project-image {
    @apply hover:after:opacity-0;
  }
  .project-image::after {
    @apply content-empty z-10 block absolute inset-0 laptop:bg-green/30 rounded-md  duration-200;
  }

  .link {
    @apply text-green bg-gradient-to-r from-green to-green bg-no-repeat duration-300 !important;
    background-position: 0 90%;
    background-size: 0 0.75px;
  }

  .link:hover {
    background-size: 100% 0.75px !important;
  }

  .customHeading::after {
    @apply block relative isolate left-5 content-empty w-20 bg-navy-lightest flex-1;
    z-index: 1;
    height: 0.5px;
  }
}

@layer utilities {
  .custom-marker li {
    @apply text-slate;
  }

  .custom-marker li::before {
    @apply text-green;
    content: '▹ ';
  }
}

